* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/***********
  Header
************/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}

li {
  padding: 0 1rem;
  list-style: none;
  padding-left: 0;
}

nav button {
  border: none;
  background-color: white;
  cursor: pointer;
}
